In [ ]:
import pandas as pd

In [ ]:
import networkx as nx
G=nx.DiGraph() 

#Creating the graph

with open("wiki-topcats-reduced.txt") as f:
    for line in f:
        list1 = line.strip().split("\t")
        G.add_node(list1[0])
        G.add_edge(list1[0],list1[1])

### adding attribute 'Category' to each node of the graph

for i in G:
    G.node[i]['Category']=[]
    
from collections import defaultdict
category_dict = defaultdict()

with open("wiki-topcats-categories.txt", "r") as f:
    lst2=G.nodes()
    for line in f:
        cat_list = line.strip().split(";")
        category = cat_list[0][9:]
        lst = cat_list[1].strip().split(" ")
        if len(lst) > 3500:   
            
            lst1=[el for el in lst if el in lst2]
            category_dict[category] = lst1

#Assign attributes to each node
for cat in category_dict:
    lst = category_dict[cat]
    for e in lst:
        if e in G:
            G.node[e]['Category'].append(cat)

In [3]:
dfg=pd.read_csv('Graphdf.csv')
dfg1 = pd.read_csv('Graphdf1.csv')
dfg2 = pd.read_csv('Graph2.csv')
dfg3 = pd.read_csv('Graph3.csv')

In [4]:
dfg = dfg.drop(columns="Unnamed: 0")
dfg1 = dfg1.drop(columns="Unnamed: 0")
dfg2 = dfg2.drop(columns="Unnamed: 0")
dfg3 = dfg3.drop(columns="Unnamed: 0")
dfg = pd.concat([dfg,dfg1,dfg2,dfg3])
dfg=dfg.reset_index(drop=True)
dfg = dfg.rename(columns={"0": "Category", "1": "Distance"})
dfg = dfg.sort_values(by='Distance')
dfg = dfg.reset_index(drop=True)
dfg

                                             Category  Distance
0                          American_television_actors  6.000000
1                                       British_films  6.000000
2                           English_television_actors  6.000000
3                              Article_Feedback_Pilot  6.000000
4                              English-language_films  6.000000
5                                        Debut_albums  7.000000
6                                       American_Jews  7.000000
7                             English-language_albums  7.000000
8                               Black-and-white_films  7.000000
9                           People_from_New_York_City  7.000000
10  Members_of_the_United_Kingdom_Parliament_for_E...  7.000000
11             Place_of_birth_missing_(living_people)  8.000000
12                       Fellows_of_the_Royal_Society  8.000000
13                                      Windows_games  8.000000
14        American_military_personnel_of_World_War_II  8.000000
15              Year_of_birth_missing_(living_people)  8.000000
16                          Harvard_University_alumni  8.000000
17                                      Living_people  8.000000
18                                English_footballers  9.000000
19                                 English_cricketers  9.000000
20                     Major_League_Baseball_pitchers  9.000000
21                                  Rivers_of_Romania  9.000000
22                        The_Football_League_players       inf
23                      Association_football_forwards       inf
24                   Association_football_goalkeepers       inf
25                   Association_football_midfielders       inf
26                     Association_football_defenders       inf
27                                Main_Belt_asteroids       inf
28                              Year_of_birth_missing       inf
29                              Year_of_death_missing       inf
30                                     American_films       inf
31                               American_film_actors       inf
32                         Asteroids_named_for_people       inf
33                              Year_of_birth_unknown       inf

Last point: We want to keep an information, score, into each node. first, we initialized every node as string, in order to make a double check (if we still didn't pass throught that node it will be still a string, but if there are no in edges this information will be 0). This initialization will be done into G, our original graph.

In [5]:
nodes_G = G.nodes()
for n in nodes_G:
    G.node[n]['score'] = ''

In [6]:
input_category='Indian_films'
c0 = category_dict[input_category][0:2000]    
sub = G.subgraph(c0)
for s in sub:
    G.node[s]['score'] = len(sub.in_edges(s))

In [7]:
categories = dfg['Category'].values #taking all categories from the ranking dataframe

In [8]:
l = c0 #list of nodes in the subgraph (now only input_category nodes)
for c in categories:
    l = l + category_dict[c]
    sub1 = G.subgraph(l)
    for e1 in sub1: 
        if not isinstance(G.node[e1]['score'],str):
            continue
        else:
            ie1 = sub1.in_edges(e1)
            ie1 = [el[0] for el in ie1]
                   
            score = 0
            for f in ie1:
                
                if G.node[f]['score'] == '':
                    score +=1
                else:
                    score += G.node[f]['score']
            G.node[e1]['score'] = score

In [ ]:
DfGraph=pd.DataFrame(columns=['Node','Score'])
i=0
for e in G:
    if not isinstance(G.node[e]['score'],str):
        DfGraph.loc[i,'Node']=e
        DfGraph.loc[i,'Score']=G.node[e]['score']
        i+=1

In [19]:
from numba import autojit, prange
list1 = []

@autojit
def graphscore(e):
    score_dict={}
    score_dict['Node']=e
    score_dict['Score']=G.node[e]['score']
    return(score_dict)
for e in G:
    list1.append(graphscore(e))

In [28]:
dfscore=pd.DataFrame(list1)

In [33]:
dfscore.head(100)

       Node                             Score
0        52                                 0
1    401135           25602441078634801288154
2   1069112                      352627517790
3   1163551          795839622449460363564225
4        62                                 0
5     12162      4776532295377016330911836413
6    167659                                 0
7    279122                        9270010809
8   1089199                      189867578797
9   1354553                                 0
10  1400636  17782178000374639170071752738772
11  1403619             703104654658462004603
12  1537692                            400042
13  1544420     51427409583432922126012955976
14       64                                 0
15    64873                        9478312389
16       66                                 0
17  1163290                       28057805775
18       74                                 1
19       95                                 0
20  1179478                     3808609451371
21  1185516                                 0
22  1185519        10525225861470143573115607
23  1230865                     3808609451372
24      103                                 0
25      107                    12174885382270
26      104                     8471780605672
27  1174251                     8471780605670
28  1174302            7410990826644888102496
29      105                                 0
..      ...                               ...
70  1066493          355741454374340322988091
71  1085943                                 1
72  1125916                                 4
73  1130618                                 0
74  1161083                                18
75  1162104                                 1
76  1162238                                 0
77  1162816                      244159175972
78  1532744                   829547548549931
79   673672                       37758958354
80  1057077                           1800143
81  1063928                        2065705579
82  1067637                              2877
83  1175075                           9911813
84      155                                 0
85  1539938                             95165
86      156                                 0
87   785921                        2868687907
88      158                        2088289187
89  1262459                             52003
90  1400635     75152282263519136219753099268
91  1403118         3772851296109005064034096
92      160                                 0
93   598053                                 3
94  1108161                         452393180
95      163                                 0
96   896828                         134174404
97      166                                 0
98   578137                      108087794447
99      167                                 0

[100 rows x 2 columns]